services:
  pgtestdb:
    image: postgres:17-alpine
    environment:
      POSTGRES_PASSWORD: password
    restart: unless-stopped
    volumes:
      # Uses a tmpfs volume to make tests extremely fast. The data in test
      # databases is not persisted across restarts, nor does it need to be.
      - type: tmpfs
        target: /var/lib/postgresql/data/
    command:
      - "postgres"
      - "-c" # turn off fsync for speed
      - "fsync=off"
      - "-c" # log everything for debugging
      - "log_statement=all"
    ports:
      # Entirely up to you what port you want to use while testing.
      - "5433:5432"
  database:
    image: postgres:17.4-alpine
    container_name: lms-postgres
    ports:
      - "5432:5432"
    volumes:
      - lms-postgres-data:/var/lib/postgresql/data
    env_file:
      - ./.env

volumes:
  lms-postgres-data:
